#tartalom {
    background-color: black;
    color: red;
    width: 80%;/* width mindig százalkosan add meg */
    max-width: 800px;
    margin: auto; /* a tároló a böngésző közepére kerül */
    padding: 10px;
}

#menu a{
    text-decoration: none;
    color: greenyellow;
    background-color: green;
    border: 2px solid greenyellow;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

h6 {
    text-align: right;
    border-top: 2px solid black;
    padding-top: 5px;
}

p {
    text-align: justify;
}


li {
    margin: 5px 0;
}
